@charset "utf-8";
/* CSS Document */
.eight .columns .nav {
	display: none;
}
h1 {
	font-size: 30pt !important;
	text-align: left;
	border-bottom: thin #B87911;
}

a.button .button-primary {
	display: none;
}

.row .action {
	display: none;
}

.button {
	display: none;
}

.column1 {
	display: none;
}

.column2 {
	display: none;
}

.column3 {
	display: none;
}

.first {
	width: 100%;
}

form {
	display: none;
}

.eigh2 .columns2 {
	width: 100%;
}

p.footer {
	width: 100%;
	padding-top: 15px;
	padding-left: 0px;
}
